<h1>Owners</h1>

<ul>
  {{#each this.owners as |owner|}}
    <li>
      <h2>Owner {{owner.name}}'s pets</h2>

      <ul>
        {{#each owner.pets as |pet|}}
          <li>
            <h3>Pet {{pet.name}}</h3>
          </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>


<p>
  <button
    type="button"
    {{action "findBob"}}
  >
    Find Bob
  </button>
</p>