<h1>Lack of public APIs, class instances mutating each other</h1>

<p>
  Number: {{this._number}}
</p>

<p>
  Component:
</p>

{{lack-of-public-apis/component
  number=_number randomize=(action "randomize")
}}
