<aside>
  <h2>Navigation</h2>

  <ol>
    <li>
      {{#link-to "side-effects"}}
        Side effects in computed properties
      {{/link-to}}
    </li>

    <li>
      {{#link-to "two-way-binding"}}
        Two-way binding
      {{/link-to}}
    </li>

    <li>
      {{#link-to "setter-computed-properties"}}
        Setter computed properties
      {{/link-to}}
    </li>

    <li>
      {{#link-to "observers"}}
        Observers
      {{/link-to}}
    </li>

    <li>
      {{#link-to "notify-property-change"}}
        notifyPropertyChange
      {{/link-to}}
    </li>

    <li>
      {{#link-to "leaking-state"}}
        Leaking state
      {{/link-to}}
    </li>

    <li>
      {{#link-to "god-objects"}}
        God objects
      {{/link-to}}
    </li>

    <li>
      {{#link-to "lack-of-public-apis"}}
        Lack of public APIs
      {{/link-to}}
    </li>

    <li>
      {{#link-to "string-actions"}}
        String actions
      {{/link-to}}
    </li>

    <li>
      {{#link-to "overusing-the-component-helper"}}
        Overusing the component helper
      {{/link-to}}
    </li>

    <li>
      {{#link-to "overriding-component-methods"}}
        Overriding component methods
      {{/link-to}}
    </li>

    <li>
      {{#link-to "controller-injections-1"}}
        Controller injections 1
      {{/link-to}}
    </li>

    <li>
      {{#link-to "controller-injections-2.child-route"}}
        Controller injections 2
      {{/link-to}}
    </li>

    <li>
      {{#link-to "controller-injections-3.child-route"}}
        Controller injections 3
      {{/link-to}}
    </li>

    <li>
      Controller injections 4:

      {{#link-to "controller-injections-4.route-1"}}
        Route 1
      {{/link-to}},

      {{#link-to "controller-injections-4.route-2"}}
        Route 2
      {{/link-to}}
    </li>

    <li>
      {{#link-to "property-syntax"}}
        The `.property()` syntax
      {{/link-to}}
    </li>

    <li>
      {{#link-to "render-syntax.child-route"}}
        The `render()` syntax
      {{/link-to}}
    </li>

    <li>
      {{#link-to "flattening-array-with-cps"}}
        Flattening an array with CPs
      {{/link-to}}
    </li>

    <li>
      {{#link-to "using-the-map-class"}}
        Using the Map class
      {{/link-to}}
    </li>

    <li>
      {{#link-to "incorrect-cp-dependencies"}}
        Incorrect CP dependencies
      {{/link-to}}
    </li>

    <li>
      {{#link-to "overriding-arbitrary-values-on-components"}}
        Overriding arbitrary values on components
      {{/link-to}}
    </li>

    <li>
      {{#link-to "promises-then-vs-await"}}
        Promises: then VS await
      {{/link-to}}
    </li>

    <li>
      {{#link-to "triple-curlies"}}
        Triple curlies and htmlSafe
      {{/link-to}}
    </li>
  </ol>
</aside>

{{outlet}}