<aside>
  <h2>Navigation</h2>

  <ol>
    <li>
      {{#link-to "side-effects"}}
        Side effects in computed properties
      {{/link-to}}
    </li>

    <li>
      {{#link-to "two-way-binding"}}
        Two-way binding
      {{/link-to}}
    </li>

    <li>
      {{#link-to "setter-computed-properties"}}
        Setter computed properties
      {{/link-to}}
    </li>

    <li>
      {{#link-to "observers"}}
        Observers
      {{/link-to}}
    </li>

    <li>
      {{#link-to "notify-property-change"}}
        notifyPropertyChange
      {{/link-to}}
    </li>

    <li>
      {{#link-to "leaking-state"}}
        Leaking state
      {{/link-to}}
    </li>

    <li>
      {{#link-to "god-objects"}}
        God objects
      {{/link-to}}
    </li>

    <li>
      {{#link-to "lack-of-public-apis"}}
        Lack of public APIs
      {{/link-to}}
    </li>

    <li>
      {{#link-to "string-actions"}}
        String actions
      {{/link-to}}
    </li>

    <li>
      {{#link-to "overusing-the-component-helper"}}
        Overusing the component helper
      {{/link-to}}
    </li>

    <li>
      {{#link-to "overriding-component-methods"}}
        Overriding component methods
      {{/link-to}}
    </li>

    <li>
      {{#link-to "controller-injections-1"}}
        Controller injections 1
      {{/link-to}}
    </li>

    <li>
      {{#link-to "controller-injections-2"}}
        Controller injections 2
      {{/link-to}}
    </li>
  </ol>
</aside>

{{outlet}}