<h1>Controller injections 1: component componsition</h1>


{{#controller-injections-1/parent-component as |data|}}
  {{controller-injections-1/child-component dataOriginal=data}}
{{/controller-injections-1/parent-component}}