<h1>Controller injections 1: example with components</h1>


{{#controller-injections-1/parent-component}}
  Some code block
{{/controller-injections-1/parent-component}}


{{controller-injections-1/child-component}}